body {
    background-color: aqua;
}

.h1 {
    text-align: center;
}

.NameOfTheGame {
    margin: 25%;
    width: 50%;
    border: 5px solid yellow;
    padding: 10px;
    text-align: center;
  }


.questions {
    margin: 25%;
    width: 50%;
    border: 5px solid green;
    padding: 10px;
    text-align: center;
  }

  .answers {
    margin: 25%;
    width: 50%;
    border: 5px solid red;
    padding: 10px;
    text-align: center;
  }

  .scores {
    margin: 25%;
    width: 50%;
    border: 5px solid red;
    padding: 10px;
    text-align: center;

  }

  .btn {
    font-size: 2.4rem
  }
